{% extends "default_base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/static/CSS/guest_PD.css">

{% endblock %}
{% block title %}Make Payment | DoctorOnTheGo{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="container">
    <ul class="progressbar">
        <li>Confirm Order</li>
        <li>Shipping Address</li>
        <li class="active">Make payment</li>
    </ul>
</div>
<div class="intro">
    <div class="intro-text">
        <h1>Make Payment</h1>
        <p>Please input your payment details</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="login-form bg-colour mt-6 p-4" id="loginForm">
            <form action="" method="POST" class="row g-3">
                <div class="col-12">
                    {{ render_field(form.card_name, class="form-control", placeholder="Card Name") }}
                </div>
                <div class="col-12">
                    {{ render_field(form.card_no, class="form-control", placeholder="1234123412341234") }}
                    {% if valid_card_num == False %}<div class="text-danger"><span id="error">Invalid Card</span></div>{% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label for="">Expiry Date:</label>
                    <div class="input-group">
                        {{ render_field(form.card_expiry_year, class="form-control", placeholder="Year") }}
                        <span class="input-group-text">-</span>
                        {{ render_field(form.card_expiry_month, class="form-control", placeholder="Month") }}
                    </div>
                    {% if card_expiry_year == False %}<div class="text-danger"><span id="error">Invalid Year</span></div>{% endif %}
                    {% if valid_card_expiry == False %}<div class="text-danger"><span id="error">Expired Card</span></div>{% endif %}
                </div>
                <div class="form-group col-md-6">
                    {{ render_field(form.card_CVV, class="form-control", placeholder="CVV") }}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="buttons">
    <div class="return-btn">
        <a href="{{ url_for('shippingAddress') }}"><button type="button" class="btn btn-primary btn-lg btn-block" id="return">Return</button></a>
    </div>
    <div class="confirm-btn">
        <a href="{{ url_for('shoppingComplete') }}"><button type="button" class="btn btn-primary btn-lg btn-block" id="confirm">Confirm</button></a>
    </div>
</div>
{% endblock %}
