{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/CSS/user_PD.css">
{% endblock %}
{% block title %}Payment Detail | DoctorOnTheGo{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="container">
    <ul class="progressbar">
        <li>Confirm Order</li>
        <li>Shipping Address</li>
        <li class="active">Make payment</li>
    </ul>
</div>
<div class="intro">
    <div class="intro-text">
        <h1>Make Payment</h1>
        <p>Please check your payment details</p>
    </div>
</div>
<div class="main-body">
    <div class="col-md-8">
        {% for name in user_list %}
        <div class="row gutters-sm">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Card Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ name.get_card_name() }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Card Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ name.get_censored_credit_card() }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Expiry Date</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ name.display_expiry_date() }}
                        </div>
                    </div>
                    <hr>
                    <form action="" method="POST" class="row g-3">
                        <div class="col-12">
                            <label for="">CVV:</label>
                            <div class="input-group mb-3">
                                {{ render_field(form.card_CVV, class="form-control", placeholder="CVV") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="buttons">
    <div class="return-btn">
        <a href="{{ url_for('shippingAddress') }}"><button type="button" class="btn btn-primary btn-lg btn-block" id="return">Return</button></a>
    </div>
    <div class="confirm-btn">
        <a href="{{ url_for('shoppingComplete') }}"><button type="button" class="btn btn-primary btn-lg btn-block" id="confirm">Confirm</button></a>
    </div>
</div>
{% endblock %}
