{% if staffsession %}
{% extends "admin_base.html" %}
{% elif usersession %}
{% extends "user_base.html" %}
{% else %}
{% extends "default_base.html" %}
{% endif %}
{% block title %}Healthcare | DoctorOnTheGo{% endblock %}

{% block content %}
<style>
  .Container {


    margin-left: auto;
    margin-right: auto;
    width: 50em;

  }

  .title {

    text-align: center;

  }

  p {
    padding: 10px;
  }

  .text1 {

    font-size: 1.5em;

  }

  .text2 {

    font-size: 1.5em;

  }

  .text3 {

    font-size: 1.5em;

  }

  .text4 {

    font-size: 1.5em;

  }


  .pad {

    padding-bottom: 32px;
  }

  .pad2 {

    padding-bottom: 55px;
  }

  .pad3 {
    padding-bottom: 30px;

  }

  .pader3 {

    padding-bottom: 28px;

  }

  .pader2 {

    padding-bottom: 28px;

  }

  .pader4 {

    padding-bottom: 28px;

  }


  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 25%;
    padding: 10px;
    width: 300px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  .graph_caption {
    margin-left: 50px;
  }

  div.gallery2 {
    margin: 5px;
    border: 1px solid #ccc;

    width: 300px;
  }

  div.gallery3 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 25%;
    padding: 10px;
    width: 300px;
  }


  div.gallery2:hover {
    border: 1px solid #777;
  }

  div.gallery2 img {
    width: 100%;
    height: auto;
  }


  div.gallery3:hover {
    border: 1px solid #777;
  }

  div.gallery3 img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  .desc {

    font-size: 1.8em;

  }

  .botnews {

    margin-left: 25%;

  }

  .botnews:after {

    content: "";
    display: table;
    clear: both;

  }


  img {

    margin-left: auto;
    margin-right: auto;
    display: block;


  }


  .spac {

    padding: 60px;
  }

  h1 {

    text-align: center;

  }
</style>
<div class="title">
  <h1>Omicron Variant: What You Need to Know .</h1>
</div>
<div class="Container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/News">News</a></li>
      <li class="breadcrumb-item active" aria-current="page">HealthCare</li>
    </ol>
  </nav>
  <h2 class="header"></h2>
  <p class="text1">
    Healthcare workers at several hospitals across Singapore are feeling the strain amid a flood of patients seeking
    treatment at emergency departments, leading to long queues and waiting time for a ward placement.

    “It’s like Tetris blocks except it’s stretchers filled with patients,” said Jessica (not her real name), who works
    as a doctor at a public hospital.

    “When you bring a patient in, you just have to find an empty spot to just push them there. It can be very confusing
    and hard to find them sometimes because it’s just so crowded, so we end up having to shout their names to try and
    find them,” she added.

    Healthcare workers interviewed for this story were not identified as they were not authorised to speak to the media.


  </p>
  <h2 class="header"> Symptoms</h2>
  <p class="text1">

    Persons infected with the Omicron variant can present with symptoms similar to previous variants. The presence and
    severity of symptoms can be affected by COVID-19 vaccination status, the presence of other health conditions, age,
    and history of prior infection.
  </p>

  <p class="text1">
    Over the past week, hospitals across the island said they have seen a higher number of patients seeking medical
    attention at their emergency rooms.

    Khoo Teck Puat Hospital told CNA that the average daily attendance at its emergency department rose by 20 per cent
    in the first week of February compared with January.

    Of the patients who walked into its emergency room that week, 66 per cent were discharged without being
    hospitalised, said its spokesperson.

    At Singapore General Hospital (SGH), the emergency department is seeing a “higher than usual” daily patient average
    than in the past two years, said Associate Professor Kenneth Tan, head and senior consultant at SGH’s emergency
    medicine department.

    Patients with symptoms of acute respiratory infections doubled during and after the first two days of Chinese New
    Year, of which more than 60 per cent were either eligible for the home recovery programme, sent to isolation
    facilities in the community, or discharged after their visit.

    The Ministry of Health (MOH) over the weekend urged the public to seek emergency treatment at hospitals only for
    serious or life-threatening emergencies, amid a rise in the number of such patients.

    Most of the patients who visited hospital emergency departments in recent weeks did not require emergency care, it
    added.

    Hospitals that CNA spoke to urged patients with mild symptoms to visit their nearest clinics instead of jamming up
    emergency departments.

    “Only people with serious or life-threatening emergencies, such as chest pain, breathlessness and uncontrollable
    bleeding, should visit the hospital’s emergency department as this allows those in need of emergency care to be
    attended to quickly and helps to preserve the hospital’s capacity for those who truly need acute hospital care,”
    said Associate Professor Thomas Loh, group chairman of the medical board for the National University Health System
    (NUHS).

    NUHS manages National University Hospital (NUH), Ng Teng Fong General Hospital and Alexandra Hospital.
  </p>
  <img src="{{url_for('static', filename='ttsh-emergency-department-covid-19-12.jpg')}}" width="750" height="500">

  <h2 class="header">INCREASED WAITING TIMES</h2>
  <p class="text2">

    Emergency department staff that CNA spoke to said waiting times have increased by at least 20 minutes to a few hours
    for mild cases. In some instances, patients have had to wait as long as 20 hours to get a placement in a ward.

    Among hospitals tracked by the Ministry of Health (MOH), latest figures show that daily bed occupancy rates ranged
    from 61.5 per cent to 100 per cent between Jan 23 and 29.
  </p>
  <img src="{{url_for('static', filename='screenshot-2022-02-10-at-2.39.57-pm.png')}}" width="800" height="500">


  <h2 class="header"> Treatments</h2>
  <p class="text2">
    “It’s just chaos, with all the patients just waiting there and hospital staff members having to run around to check
    on everybody, while trying to keep up with the incoming patients,” said Ada (not her real name), a doctor who works
    at an accident and emergency (A&E) department in a public hospital.

    With space filled up inside the A&E department, it is also common to see a large pool of people waiting outside to
    get updates on their family members.

    “It’s very overwhelming,” said Jessica.

    “Whenever I go out ... everyone is looking at me and asking if their family member is my patient and whether I have
    updates for them,” she added.
  </p>


  <h2 class="header"> MORE PEOPLE TESTING POSITIVE FOR COVID-19</h2>
  <p class="text3">
    The growing strain on hospital emergency rooms comes as community infection rates continue to rise amid the Omicron
    wave.

    Singapore reported 10,686 new community COVID-19 cases on Thursday, the third day in a row that daily cases came in
    above the 10,000 mark. The weekly infection growth rate jumped to 2.26, up from 2.0 on Wednesday.

    A total of 1,212 COVID-19 patients are currently in hospital.

    A&E doctors CNA spoke to said they have seen the number of COVID-19 walk-ins at their hospitals more than double,
    some of whom have mild or no symptoms.

    “They are only coming in because they tested positive on their antigen rapid test (ART) self-test, or they might
    have something very minor like a runny nose or slight fever,” said Ada (not her real name), a doctor working at a
    public hospital.

    Under current health protocols, those who are well but test positive for COVID-19 are required to isolate at home
    for at least 72 hours, and can exit isolation once they test negative on their self-administered test and are
    feeling well.

    As for those who are not feeling well and require COVID-19 testing, they can visit Public Health Preparedness
    Clinics (PHPC) for further assessment.

    However, with many general practitioner (GP) clinics closed during the Chinese New Year period, hospitals said this
    might have resulted in more people turning to emergency departments.

    "Generally, after long public holidays such as Chinese New Year, our hospital tends to experience a higher number of
    admissions," said a spokesperson for Tan Tock Seng Hospital (TTSH).

    With reduced GP operations and people seeking medical attention only after the festivities, coupled with the surge
    in COVID-19 transmission, the hospital is seeing more patients at its emergency department.

    "This is a trend seen annually," the spokesperson added.
  </p>
</div>
<div class="spac">

</div>
<h1> Other news articles you may enjoy</h1>
<div class="row" style="margin:auto;">
  <div class="gallery">
    <a target="nav-link" href="/MOHnews">
      <img
        src="{{url_for('static', filename='2022-01-05t223545z_1_lynxmpei040x9_rtroptp_3_health-coronavirus-usa-children.jpg')}}"
        width="600" height="400">
    </a>
    <div class="desc">COVID-19 booster shot needed to maintain fully vaccinated status from Feb 14.</div>

    <div class="pad3">
    </div>
  </div>

  <div class="gallery">
    <a target="nav-link" href="/Omni">
      <img src="{{url_for('static', filename='dsc_8144.jpg')}}" width="600" height="400">
    </a>
    <div class="desc">Omicron Variant: What You Need to Know .</div>
    <div class="pad2">
    </div>
  </div>

  <div class="gallery">
    <a target="nav-link" href="/Vac">
      <img src="{{url_for('static', filename='vaccination_1.jpg')}}" width="600" height="400">
    </a>
    <div class="desc">How might an Omicron wave develop in Singapore? Vaccinations, safety measures may 'wear impact'
    </div>

  </div>

  <div class="gallery">
    <a target="nav-link" href="/World">
      <img src="{{url_for('static', filename='france-coronavirus_4.jpg')}}" width="600" height="400">
    </a>
    <div class="desc"> World passes 300 million COVID-19 cases as Omicron breaks records .</div>

    <div class="pad">

    </div>
  </div>
</div>

{% endblock %}