{% if staffsession %}
{% extends "admin_base.html" %}
{% elif usersession %}
{% extends "user_base.html" %}
{% else %}
{% extends "default_base.html" %}
{% endif %}
{% block title %}DoctorOnTheGo - Measure{% endblock %}

{% block content %}
<style>
  .container {


    margin-left: auto;
    margin-right: auto;
    width: 50em;

  }


  p {
    padding: 10px;

  }
</style>


<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/News">News</a></li>
      <li class="breadcrumb-item active" aria-current="page">Measure</li>
    </ol>
  </nav>
  <div class="title">
    <h1>Omicron Variant: What You Need to Know .</h1>
  </div>

  <p class="text1">



    From 22 November 2021, we will increase the permissible social gathering group size from 2 persons to 5 persons. The
    cap of 2 distinct visitors per household per day will correspondingly increase to 5 distinct visitors per household
    per day. As far as possible, we should accept only visitors who are vaccinated, so as to protect those who are
    unvaccinated from exposure to the virus. Unvaccinated individuals should also exercise caution and protect
    themselves by reducing their movement and staying at home as much as possible. In addition, visitors to households
    that have an unvaccinated person or vulnerable elderly are strongly encouraged to test themselves prior to the visit
    to ensure that they do not unwittingly transmit COVID-19 to those who are vulnerable.

  </p>



  <p class="text2">
    Groups of up to 5 persons, even if not from the same household, will be allowed to dine-in at Food and Beverage
    (F&B) establishments if all the diners are fully vaccinated. Unvaccinated children aged 12 years and below (i.e.
    born in 2009 or later) may be included within the group of 5 persons as long as all these children are from the same
    household. As previously announced, medically ineligible persons may also be included within such groups of 5
    persons from 1 December 2021. Nevertheless, we continue to caution medically ineligible persons of their
    susceptibility to severe illness if infected with COVID-19, and urge them to be careful despite such a concession.

  </p>


  <p class="text3">

    Such groups of up to 5 persons will only be allowed to dine-in at hawker centres and coffee shops where full VDS
    checks have been implemented. The initial batch of hawker centres and coffee shops that are ready will start such
    checks from 23 November 2021, and more will do so when ready with access control and systems to perform vaccination
    checks at entry points. Otherwise, dining-in at hawker centres and coffee shops without full VDS checks will remain
    at groups of up to 2 fully vaccinated persons.
    Unvaccinated individuals are not allowed to dine-in and may continue to only take-away food from these
    establishments. The National Environment Agency (NEA) has been actively consulting the Hawkers’ Associations, and
    working with the Town Councils and NEA-appointed operators, to also implement access control with vaccination checks
    at entry points at the remaining hawker centres by the end of November 2021. NEA and the Singapore Food Agency (SFA)
    will share more details on

  </p>

  <p class="text4">

    We will be adjusting the SMMs for Wedding Solemnisations and Wedding Receptions from 22 November 2021 so that
    couples may safely include more activities in their wedding celebrations. This includes unmasking by the wedding
    couple throughout the reception or solemnisation event, and singing by members of the Wedding Party at the
    reception, subject to additional precautions. To include such activities in their event, the wedding couple or such
    individuals from the Wedding Party will be required to (i) undergo an Antigen Rapid Test (ART) minimally supervised
    by the venue operator1; or (ii) have a valid PET obtained within 24 hours prior to the event. More details will be
    provided in a separate advisory by the Ministry of Social and Family Development (MSF).

  </p>

</div>

{% endblock %}