{% if staffsession %}
{% extends "admin_base.html" %}
{% elif usersession %}
{% extends "user_base.html" %}
{% else %}
{% extends "default_base.html" %}
{% endif %}
{% block title %}DoctorOnTheGo - World {% endblock %}

{% block content %}
<style>
    .Container{


    margin-left: auto;
    margin-right: auto;
    width: 50em;

    }
   .title{

text-align:center;

    }


    p{

    padding:10px;
    }

</style>
<div class="title">
<h1>Omicron Variant: What You Need to Know .</h1>
 </div>
<div class="Container">


<p class="text1">


PARIS: The total number of COVID-19 cases registered worldwide passed 300 million on Friday (Jan 7), with the Omicron variant's rapid spread setting new infection records in dozens of countries over the last week.

In the past seven days, 34 countries have recorded their highest number of weekly cases since the start of the pandemic, including 18 nations in Europe and seven in Africa, according to an AFP count based on official figures.

While far more contagious than previous coronavirus variants, Omicron appears to cause less severe illness than its predecessors.
</p>

    <p class="text1">
Even as it spurred the world to record 13.5 million cases in the last week alone - 64 per cent higher than the previous seven days - the global average of deaths dropped 3 per cent.

France's public health authority said Friday that the risk of hospitalisation was about 70 per cent lower for Omicron, citing data from the US, the UK, Canada and Israel.

    </p>

    <p class="text1">
However with a global average of 2 million new cases being detected daily, experts warn the sheer numbers threaten to overwhelm health systems.

World Health Organization chief Tedros Adhanom Ghebreyesus said that Omicron should not be categorised as mild, as it "is hospitalising people and it is killing people".

"In fact, the tsunami of cases is so huge and quick, that it is overwhelming health systems around the world."

    </p>

 <img src="{{url_for('static', filename='images/xuzhi/mdlineup05012022.jpg')}}" width="800" height="500">

<p class="text2">
 While far more contagious than previous coronavirus variants, Omicron appears to cause less severe illness than its predecessors.

Even as it spurred the world to record 13.5 million cases in the last week alone - 64 per cent higher than the previous seven days - the global average of deaths dropped 3 per cent.

France's public health authority said Friday that the risk of hospitalisation was about 70 per cent lower for Omicron, citing data from the US, the UK, Canada and Israel.

However with a global average of 2 million new cases being detected daily, experts warn the sheer numbers threaten to overwhelm health systems.

World Health Organization chief Tedros Adhanom Ghebreyesus said that Omicron should not be categorised as mild, as it "is hospitalising people and it is killing people".
</p>

    <p class="text3">

In the United States, challenges against vaccine mandates imposed by the administration of President Joseph Biden were heard by the Supreme Court on Friday.

The mandates, requiring COVID-19 jabs at businesses that employ 100 people, have come under attack from some Republican lawmakers and business owners as an infringement on individual rights and an abuse of government power.

But Supreme Court Justice Elena Kagan asked: "Why isn't this necessary to abate the grave risk?"

"It is by far the greatest public health danger that this country has faced in the last century," she added.

    </p>


  <p class="text4">

In India, Omicron-led rising case numbers have brought fears of a return to the country's darkest pandemic days last year, when thousands were dying of COVID-19 every day.

Gautam Menon, a professor at India's Ashoka University who has worked on COVID-19 infection modelling, told AFP that "this could potentially stress out health care systems to levels comparable to or worse than the second wave".

However Calcutta's High Court rejected a bid to cancel a major Hindu festival, despite fears the virus could spread rapidly among the 500,000 expected attendees.

"People from all states in the country will attend the religious festival and take a holy dip," environmentalist Subhash Dutta told AFP.

"They may carry variant viruses and this religious festival may end up being the biggest superspreader in the coming days."
  </p>
</div>

{% endblock %}
