
{% extends "default_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% from "includes/_formHelper.html" import render_field %}
{% block title %}Clinic - Update Graph{% endblock %}





{% block content %}


<style>

  .text-primary{

  	display:inline;
	position:relative;

  }

  *{

  font-size:1.1em;
  }
</style>


<h1 class="display-4">Your appointment</h1>
<div class="container">
<form method="POST" action="">
<div class="text-primary">

  <div class="form-group">

    {{ wtf.form_field(form.DATE1, class="form-control") }}

  </div>
</div>
  <div class="form-group">
    {{ wtf.form_field(form.DATE2, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.DATE3, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.DATE4, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.DATE5, class="form-control") }}
  </div>

  <div class="form-group">

    {{ wtf.form_field(form.COVID1, class="form-control") }}

  </div>
  <div class="form-group">
    {{ wtf.form_field(form.COVID2, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.COVID3, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.COVID4, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.COVID5, class="form-control") }}
  </div>

  <form action="retrieveConsultation">
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</form>
</div>
{% endblock %}
