h1 {
    padding-top: 50px;
    margin: auto;
    height: 150px;
    text-align: center;
}
p {
    text-align: center;
}

.buttons {
    width:100%;
    text-align: center;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 60px;
}

#home {
    width: 150px;
    border: 1px;
    background-color: #FFC0BE;
}

.home-btn {
    padding-right: 30px;
}
.news-btn {
    padding-right: 30px;
}
#news {
    width: 150px;
    border: 1px;
    background-color: #FFC0BE;
}

#consultation {
    width: 150px;
    border: 1px;
    background-color: #FFC0BE;
}

.card {
    margin: auto;
    margin-bottom:10vh;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-radius: 15px;
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

