* {
	font-family: sans-serif;
}

body{
	background: #f3ccca;
}

a {
	text-decoration: none;
}

/* ============ Navbar ============ */

#navbar {
	background-color: #FFC0BE !important;
}

.navbar-nav {
	color:#000000 !important
}


/* ============ End of Navbar ============ */

/* ============ Footer ============ */

.footer-container {
	max-width: 1170px !important;
	margin: auto !important;
}

.footer-row {
	display: flex !important;
	flex-wrap: wrap !important;
}

ul {
	list-style: none;
	padding-left: 0;
}

.footer {
	background-color: #FFC0BE;
	padding: 60px 0;
	text-align: left;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #000000;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #FF82A9;
	height: 2px;
	box-sizing: border-box;
	width: 60px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	text-decoration: none;
	font-size: 16px;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li {
	text-decoration: none;
	font-size: 16px;
	color: #000000;
	display: block;
}

.footer-col ul li a:hover {
	font-weight: bold;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(35, 120, 163, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #7F95D1;
	background-color: #FFEBE7;
}

@media (max-width: 1050px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media (max-width: 440px) {
	.footer-col {
		width: 100%;
	}
}

#copyright {
	margin: auto;
	font-size: 16px;
	color: #000000;
	text-align: center;
}

@media (max-width: 240px) {
	.footer-col h4 {
		font-size: 6vw;
	}
	.footer-col ul li a {
		font-size: 4vw;
	}
	.footer-col ul li {
		font-size: 4vw;
	}
	#copyright {
		font-size: 4vw;
	}
}


/* ============ End of Footer ============ */

#error{
	font-weight: bold;
}

.chat-bot {
	padding-top: 30px;
	width: 200px;
	float: right;
  }


.badge {
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
	margin-left:3px;
  }