
{% extends "default_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% from "includes/_formHelper.html" import render_field %}
{% block title %}Clinic - Create Consultation{% endblock %}





{% block content %}


<style>

  .text-primary{

  	display:inline;
	position:relative;

  }

  *{

  font-size:1.1em;
  }
</style>


<h1 class="display-4">Your appointment</h1>
<div class="container">
<form method="POST" action="">
<div class="text-primary">

  <div class="form-group">
    <P>Choice of doctor</P>
    <div class="form-check form-check-inline">
    {{ wtf.form_field(form.doc, class="form-control") }}
    </div>
  </div>
</div>
  <div class="form-group">
    {{ wtf.form_field(form.first_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.last_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.gender, class="form-control") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.email, class="form-control") }}
  </div>

  <div class="form-group">
    {{ wtf.form_field(form.date_joined, class="form-control datepicker") }}
  </div>

  <div id="prof">
    <div class="form-group">
      {{ wtf.form_field(form.remarks, class="form-control") }}
    </div>
  </div>
  <form action="retrieveConsultation">
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</form>
</div>
{% endblock %}
