{% extends "default_base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/static/CSS/checkItems.css">
{% endblock %}
{% block title %}Confirm Order | DoctorOnTheGo{% endblock %}

{% block content %}
<div class="container">
    <ul class="progressbar">
        <li class="active">Confirm Order</li>
        <li>Shipping Address</li>
        <li>Make payment</li>
    </ul>
</div>
<div class="intro">
    <div class="intro-text">
        <h1>Confirm Order</h1>
    </div>
</div>

<div class="buttons">
    <div class="return-btn">
        <a href="{{ url_for('cart') }}"><button type="button" class="btn btn-primary btn-lg btn-block" id="return">Return</button></a>
    </div>
    <div class="confirm-btn">
        <a href="{{ url_for('shippingAddress') }}"><button type="button" class="btn btn-primary btn-lg btn-block" id="confirm">Confirm</button></a>
    </div>
</div>

{% endblock %}

