{% extends "default_base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/CSS/help.css">
{% endblock %}

{% block title %}Help | DoctorOnTheGo{% endblock %}

{% block content %}
    <div class="intro">
        <div class="intro-text">
            <h1>Help</h1>
            <p>Encountered a problem ? <br> Do check out our chatbot for help, or leave feedback for us to address your needs better !</p>
        </div>
    </div>
    <div class="content">
        <div class="feedback">
            <a href="{{ url_for('feedback') }}"><button class="feedback-form">Feedback Form</button></a>
        </div>
        <div class="chat-bot">
            <p>Do refer to our 24h chatbot for help !</p>
            <script src="//code.tidio.co/bfnlxuicjxvw8kxthpwwaeusnrgimo3f.js" async></script>
        </div>
    </div>
{% endblock %}
