<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Our Services</h4>
                <ul>
                <li><a href="#">Store</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Consultation</a></li>
                <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Join Us</h4>
                <ul>
                    <li><a href="/signup">Become a Member</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Chat Bot</a></li>
                    <li><a href="#">Common Sicknesses & Symptons</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li>
                        <div class="social-links">
                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                        </div>
                    </li>
                    <li>
                        <i class="fas fa-phone-alt"></i> +65 6251 2112
                    </li>
                </ul>
            </div>
            <p id="copyright">&copy; Doctor On The Go 2021</p>
        </div>
    </div>
</footer>