{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="static/CSS/useraccount.css">
{% endblock %}
{% block title %}Welcome User! | DoctorOnTheGo{% endblock %}

{% block content %}
<div class="main-body">
   <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Notification</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Your {{ change }} has been editted!
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Noted</button>
          </div>

        </div>
      </div>
    </div>
   <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
         {% for name in user_list %}
         <div class="card">
            <div class="card-body">
               {% if name.get_verified() == False %}
               <form action="{{ url_for('verifyEmail', id = name.get_user_id() ) }}" method="POST">
                  <button type="Submit" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#myModal_Verify">Unverified</button>
                  <div class="modal" id="myModal_Verify">
                     <div class="modal-dialog">
                       <div class="modal-content">
   
                         <!-- Modal Header -->
                         <div class="modal-header">
                           <h4 class="modal-title">Verification Email Notification</h4>
                           <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                         </div>
   
                         <!-- Modal body -->
                         <div class="modal-body">
                           Verification Email will be sent to registered email! Please wait for a few seconds!
                         </div>
   
                         <!-- Modal footer -->
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Noted</button>
                         </div>
   
                       </div>
                     </div>
                   </div>
               </form>
               {% else %}
               <button type="button" class="btn btn-success">Verified</button>
               {% endif %}
               {% if changed == True %}
               <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#myModal" id="btn" style="display:none;">
               </button>
               {% endif %}
               <div class="modal" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Edit Notification</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        Your {{ change }} has been editted!
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Noted</button>
                      </div>

                    </div>
                  </div>
                </div>
               <div class="d-flex flex-column align-items-center text-center">
                  <img src="{{ av }}" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                     <h4>{{ name.get_username() }}</h4>
                  </div>
                  <form action="/uploadProfilePic" method="POST" enctype="multipart/form-data">
                     <input type="file" id="myFile" name="filename">
                     <input type="submit" value="Apply">
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-8">
         <div class="card mb-3">
            <div class="card-body">
               <div class="row">
                  <div class="col-sm-3">
                     <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                     {{ name.get_username() }}
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-sm-3">
                     <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                     {{ name.get_email() }}
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-sm-12">
                     <a class="btn btn-info " target="__blank" href="/infoedit">Edit</a>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-sm-3">
                     <h6 class="mb-0">Password</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                     {{ name.get_censored_password() }}
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-sm-12">
                     <a class="btn btn-info " target="__blank" href="/pwedit">Edit</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row gutters-sm">
            <div class="col-sm-6 mb-3">
               <div class="card h-100">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Shipping Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{ name.get_shipping_address() }}
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Unit Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{ name.display_unit_number() }}
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Postal Code</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{ name.get_postal_code() }}
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Phone Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{ name.get_phone_number() }}
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-12">
                           <a class="btn btn-info " href="/useraddress">Edit</a>
                           <form action="/deleteaddress" method="POST">
                              <!--input type="submit" value="Delete" class="btn btn-danger"-->
            
                              <!-- w3 schools modal button-->
                              <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#myModal_address">
                                Delete
                              </button>
            
                              <!-- The Modal -->
                              <div class="modal" id="myModal_address">
                                <div class="modal-dialog">
                                  <div class="modal-content">
            
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Deletion Confirmation</h4>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                      Are you sure you want to delete your saved address ?
                                    </div>
            
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <input type="submit" value="Delete" class="btn btn-danger">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
            
                                  </div>
                                </div>
                              </div>
            
                            </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 mb-3">
               <div class="card h-100">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Card Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{ name.get_censored_credit_card() }}
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Card Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{ name.get_card_name() }}
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Expiry Date</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{ name.display_expiry_date() }}
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-12">
                           <a class="btn btn-info " href="/usercard">Edit</a>
                           <form action="/deletecard" method="POST">
                              <!--input type="submit" value="Delete" class="btn btn-danger"-->
            
                              <!-- w3 schools modal button-->
                              <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#myModal_card">
                                Delete
                              </button>
            
                              <!-- The Modal -->
                              <div class="modal" id="myModal_card">
                                <div class="modal-dialog">
                                  <div class="modal-content">
            
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Deletion Confirmation</h4>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                      Are you sure you want to delete your saved credit card ?
                                    </div>
            
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <input type="submit" value="Delete" class="btn btn-danger">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
            
                                  </div>
                                </div>
                              </div>
            
                            </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}
{% block scripts %}
<script>
   window.onload = function(){
   document.getElementById('btn').click();
   };
</script>
<!-- Popper 2.10.2, Bootstrap 5.1.2 JavaScript -->
<script crossorigin="anonymous" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u"
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>
{% endblock %}