{% extends "user_base.html" %}
{% block head %} <link rel="stylesheet" href="static/CSS/useraccount.css"> {% endblock %}
{% block title %}Welcome User! | DoctorOnTheGo{% endblock %}

{% block content %}
<div class="main-body">
    <div class="row gutters-sm">
       <div class="col-md-4 mb-3">
          <div class="card">
             <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                   <img src="../static/images/default.png" alt="Admin" class="rounded-circle" width="150">
                   <div class="mt-3">
                      <h4>{{ user }}</h4>
                   </div>
                   <form action="">
                     <input type="file" id="myFile" name="filename">
                     <input type="submit" value="Apply">
                   </form>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-8">
          <div class="card mb-3">
            {% for name in user_list %}
             <div class="card-body">
                <div class="row">
                   <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                   </div>
                   <div class="col-sm-9 text-secondary">
                      {{ name.get_username() }}
                   </div>
                </div>
                <hr>
                <div class="row">
                   <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                   </div>
                   <div class="col-sm-9 text-secondary">
                      {{ name.get_email() }}
                   </div>
                </div>
                <hr>
               <div class="row">
                  <div class="col-sm-12">
                     <a class="btn btn-info " target="__blank" href="/infoedit">Edit</a>
                  </div>
               </div>
                <hr>
                <div class="row">
                   <div class="col-sm-3">
                      <h6 class="mb-0">Password</h6>
                   </div>
                   <div class="col-sm-9 text-secondary">
                      {{ name.get_censored_password() }}
                   </div>
                </div>
                <hr>
                <div class="row">
                   <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="/pwedit">Edit</a>
                   </div>
                </div>
             </div>
          </div>
          <div class="row gutters-sm">
             <div class="col-sm-6 mb-3">
                <div class="card h-100">
                   <div class="card-body">
                      <div class="row">
                         <div class="col-sm-3">
                            <h6 class="mb-0">Shipping Address</h6>
                         </div>
                         <div class="col-sm-9 text-secondary">
                            {{ name.get_shipping_address() }}
                         </div>
                      </div>
                      <hr>
                      <div class="row">
                         <div class="col-sm-3">
                            <h6 class="mb-0">Unit Number</h6>
                         </div>
                         <div class="col-sm-9 text-secondary">
                           {{ name.display_unit_number() }}
                         </div>
                      </div>
                      <hr>
                      <div class="row">
                         <div class="col-sm-3">
                            <h6 class="mb-0">Postal Code</h6>
                         </div>
                         <div class="col-sm-9 text-secondary">
                           {{ name.get_postal_code() }}
                         </div>
                      </div>
                      <hr>
                      <div class="row">
                         <div class="col-sm-3">
                            <h6 class="mb-0">Phone Number</h6>
                         </div>
                         <div class="col-sm-9 text-secondary">
                           {{ name.get_phone_number() }}
                         </div>
                      </div>
                      <hr>
                      <div class="row">
                         <div class="col-sm-12">
                            <a class="btn btn-info " href="/useraddress">Edit</a>
                            <a class="btn btn-info " href="/deleteaddress">Delete</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-sm-6 mb-3">
                <div class="card h-100">
                   <div class="card-body">
                      <div class="row">
                         <div class="col-sm-3">
                            <h6 class="mb-0">Card Number</h6>
                         </div>
                         <div class="col-sm-9 text-secondary">
                           {{ name.get_censored_credit_card() }}
                         </div>
                      </div>
                      <hr>
                      <div class="row">
                         <div class="col-sm-3">
                            <h6 class="mb-0">Card Name</h6>
                         </div>
                         <div class="col-sm-9 text-secondary">
                           {{ name.get_card_name() }}
                         </div>
                      </div>
                      <hr>
                      <div class="row">
                         <div class="col-sm-3">
                            <h6 class="mb-0">Expiry Date</h6>
                         </div>
                         <div class="col-sm-9 text-secondary">
                           {{ name.display_card_expiry_date() }}
                         </div>
                      </div>
                      <hr>
                      <div class="row">
                         <div class="col-sm-12">
                            <a class="btn btn-info " href="/usercard">Edit</a>
                            <a class="btn btn-info " href="/deletecard">Delete</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          {% endfor %}
       </div>
    </div>
 </div>
{% endblock %}
