{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/static/CSS/user_SA.css">
{% endblock %}
{% block title %}Shipping Address | DoctorOnTheGo{% endblock %}

{% block content %}
<div class="container">
    <ul class="progressbar">
        <li>Confirm Order</li>
        <li class="active">Shipping Address</li>
        <li>Make payment</li>
    </ul>
</div>
<div class="intro">
    <div class="intro-text">
        <h1>Shipping Address</h1>
        <p>Please check your shipping address</p>
    </div>
</div>
<div class="main-body">
    <div class="col-md-6 offset-md-3">
        {% for name in user_list %}
        <div class="row gutters-sm">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ name.get_username() }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Shipping Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ name.get_shipping_address() }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Unit Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ name.display_unit_number() }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Postal Code</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ name.get_postal_code() }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ name.get_phone_number() }}
                        </div>
                  </div>
               </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="buttons">
    <div class="return-btn">
        <a href="{{ url_for('confirmOrder') }}"><button type="button" class="btn btn-primary btn-lg btn-block" id="return"><span style="color: white;">Return</span></button></a>
    </div>
    <div class="confirm-btn">
        <a href="{{ url_for('paymentDetail') }}"><button type="button" class="btn btn-primary btn-lg btn-block" id="confirm"><span style="color: white;">Confirm</span></button></a>
    </div>
</div>
{% endblock %}
