{% extends "admin_base.html" %}
{% block head %}<link rel="stylesheet" href="static/CSS/cookiealert.css">{% endblock %}
{% block title %}Home | DoctorOnTheGo{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/images/homecaro/download.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Welcome To DoctorOnTheGo</h5>
            <p>Your Favourite Online Pharmacy!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/images/homecaro/pharma2.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none  d-md-block">
            <h5>Welcome To DoctorOnTheGo</h5>
            <p>Your Favourite Online Pharmacy!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/images/homecaro/pharma3.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none  d-md-block">
            <h5>Welcome To DoctorOnTheGo</h5>
            <p>Your Favourite Online Pharmacy!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="row" style="margin-top:100px;">
    <h3 style="text-align:center;">Recent News</h3>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">News title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">News title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">News title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>

<div class="row" style="margin:100px 10px 0 10px; background:white; padding:25px; border-radius:15px;">
    <div class="col-md">
      <img src="" alt="">
    </div>
    <div class="col-md">
      <h2>Welcome Staff</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <a href="/staffapp" class="btn btn-primary">Head to Dashboard!</a>
    </div>
  </div>

<div class="row" style="margin:100px 10px 100px 10px;">
    <h3 style="text-align:center;">Meet the founders</h3>
    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="" alt="">
                <h2>Hover</h2>
              </div>
              <div class="flip-card-back">
                <h1>Calvin</h1> 
                <p>NYP Student : Cybersecurity</p> 
                <p>Socials : @placeholder</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="" alt="">
                <h2>Hover</h2>
              </div>
              <div class="flip-card-back">
                <h1>Xu Zhi</h1> 
                <p>NYP Student : Cybersecurity</p> 
                <p>Socials : @placeholder</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="" alt="">
                <h2>Hover</h2>
              </div>
              <div class="flip-card-back">
                <h1>Alisa</h1> 
                <p>NYP Student : Cybersecurity</p> 
                <p>Socials : @placeholder</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="" alt="">
                <h2>Hover</h2>
              </div>
              <div class="flip-card-back">
                <h1>Joshua</h1> 
                <p>NYP Student : Cybersecurity</p> 
                <p>Socials : @placeholder</p>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- COOKIES -->
<!--https://lioshi.github.io/Bootstrap-Cookie-Alert/-->
<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a
        href="http://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        I agree
    </button>
</div>
<!-- /COOKIES -->
{% endblock %}