{% extends "default_base.html" %}
{% block title %}DoctorOnTheGo - Home{% endblock %}

{% block content %}
<h1 class="display-4">Home</h1>
<p>Hello world!</p>

<div class="datalink">
    <a class="nav-link" href="/graph">
    <button type="button">Click Me!</button>
    </a>
</div>

<!-- COOKIES -->
<!--https://lioshi.github.io/Bootstrap-Cookie-Alert/-->
<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="http://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        I agree
    </button>
</div>
<!-- /COOKIES -->
{% endblock %}
