{% extends "default_base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/static/CSS/shoppingComplete.css">
{% endblock %}
{% block title %}Shopping Complete | DoctorOnTheGo{% endblock %}


{% block content %}
<h1>Shopping Complete!</h1>
<p>Proceed to other pages?</p>
<div class="buttons">
    <a href="{{ url_for('home') }}" class="home-btn"><button type="button" class="btn btn-primary btn-lg btn-block" id="home"><span style="color:white;">Home</span></button></a>
    <a href="{{ url_for('News') }}" class="news-btn"><button type="button" class="btn btn-primary btn-lg btn-block" id="news"><span style="color:white;">News</span></button></a>
    <a href="{{ url_for('consultatioPg1') }}" class="consultation-btn"><button type="button" class="btn btn-primary btn-lg btn-block" id="consultation"><span style="color:white;">Consultation</span></button></a>
</div>

{% endblock %}
