{% if staffsession %}
{% extends "admin_base.html" %}
{% elif usersession %}
{% extends "user_base.html" %}
{% else %}
{% extends "default_base.html" %}
{% endif %}

{% block head %}
<link rel="stylesheet" href="static/CSS/store.css">
{% endblock %}

{% block title %}Search Results | DoctorOnTheGo{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<form method="GET" class="search-bar" action="search">
    <input type="search" placeholder="Search" name="query">
    <button type="submit">Search</button>
</form>

<!--testing some copy paste stuff-->

<section class="section-products">
    <div class="container-fluid mt-5 mb-5">
        <div class="row justify-content-start">
            <div class="col-3" style='background:white; border-radius:5px;'>
                <div class="category p-2">
                    <div class="heading d-flex justify-content-between align-items-center">
                        <h6 class="text-uppercase">Category</h6> <span>--</span>
                    </div>

                    <form action="", method="POST">
                        <div class="d-flex justify-content-between mt-2">
                            <div class="form-check">
                                {{ render_field(form.Medicine_category, class="form-check-input") }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mt-2">
                            <div class="form-check">
                                {{ render_field(form.TestKit_category, class="form-check-input") }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mt-2">
                            <div class="form-check">
                                {{ render_field(form.Supplement_category, class="form-check-input") }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mt-2">
                            <div class="form-check">
                                {{ render_field(form.FirstAid_category, class="form-check-input") }}
                            </div>
                        </div>

                        <br>

                        <div class="heading d-flex justify-content-between align-items-center">
                            <h6 class="text-uppercase">Price range</h6> <span>--</span>
                        </div>

                        <div class="d-flex justify-content-between mt-2">
                            <div class="form-check">
                                {{ render_field(form.price_range_lower, class="form-control") }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mt-2">
                            <div class="form-check">
                                {{ render_field(form.price_range_upper, class="form-control") }}
                            </div>
                        </div>

                        <br>

                        <div class="d-flex justify-content-between mt-2">
                            <div class="form-check">
                                <select class="form-select" aria-label="Default select example" name="sorting_mtd">
                                    <option selected>Sort by</option>
                                    <option value="Price (Descending)">Price (Descending)</option>
                                    <option value="Price (Ascending)">Price (Ascending)</option>
                                    <option value="Name (A to Z)">Name (A to Z)</option>
                                    <option value="Name (Z to A)">Name (Z to A)</option>
                                </select>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mt-2">
                            {{ render_field(form.apply_filters, class="btn btn-dark float-end") }}
                        </div>
                    </form>
                </div>
                
            </div>

            <!--<div class="col-md-3">-->
                <!--<div class="row">-->
                <div class = "col">
                    <div class="row">
                    {% for product in products.items %}
                    <div class="col-md-3">
                        <div id="product-1" class="single-product">
                            <div class="part-1" style="background-image: url('static/images/store/{{ product.img_file_name }}'); background-size: cover;">
                                <ul>
                                    <li><a href="/view_product?id={{ product.id }}"><i class="fas fa-expand"></i></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">{{ product.name }}</h3>
                                <h4 class="product-price">${{ product.price }}</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if products.page == page_num %}
                            <a class="btn btn-info mb-4" href="{{ url_for('store', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('store', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                    {% endfor %}
                </div>
                <!--</div>-->
            <!--</div>-->

        </div>
        
    </div>
</section>

{% endblock %}