{% if staffsession %}
{% extends "admin_base.html" %}
{% elif usersession %}
{% extends "user_base.html" %}
{% else %}
{% extends "default_base.html" %}
{% endif %}

{% block head %}
<link rel="stylesheet" href="static/CSS/store.css">
{% endblock %}


{% block title %} Product | DoctorOnTheGo{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<form method="GET" class="search-bar" action="search">
    <input type="search" placeholder="Search" name="query">
    <button type="submit">Search</button>
</form>

{% for product in products %}
<div class="container bootdey">
    <div class="col-md-12">
    <section class="panel">
          <div class="panel-body">
              <h1>{{ product.name }}</h1>
              <div class="col-md-6">
                  <div class="pro-img-details">
                      <img src="static/images/store/{{ product.img_file_name }}" alt="">
                  </div>
                  <!--
                  <div class="pro-img-list">
                      <a href="#">
                          <img src="https://via.placeholder.com/115x100/87CEFA/000000" alt="">
                      </a>
                      <a href="#">
                          <img src="https://via.placeholder.com/115x100/FF7F50/000000" alt="">
                      </a>
                      <a href="#">
                          <img src="https://via.placeholder.com/115x100/20B2AA/000000" alt="">
                      </a>
                      <a href="#">
                          <img src="https://via.placeholder.com/120x100/20B2AA/000000" alt="">
                      </a>
                  </div>
                  -->
              </div>
              <div class="col-md-6">
                  <!--
                  <h2 class="pro-d-title">
                      <p>
                        {{ product.name }}
                      </p>
                  </h2>
                  -->
                  <p>
                    Product Category: {{ product.category }}
                  </p>
                  <p>
                      Short Description: {{ product.short_description }}
                  </p>
                  <p>
                      Long Description: {{ product.long_description }}
                  </p>
                  <p>
                      Stock: {{ product.stock }}
                  </p>

                  <div class="m-bot15"> <strong>Price: $</strong> <span>{{ product.price }}</span></div>
                  <form action="" method="POST">
                    <div class="form-group">
                        {{ render_field(form.quantity, class="form-control") }}
                    </div>
                    {% if not_enough == True %}
                        <div class="text-danger"><span id="error">Stock Not Enough</span></div>
                    {% endif %}
                    <p>
                        <button class="btn btn-round btn-danger" type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    </p>
                </form>
              </div>
          </div>
      </section>
    </div>
</div>

{% endfor %}

{% endblock %}