{% if staffsession %}
{% extends "admin_base.html" %}
{% elif usersession %}
{% extends "user_base.html" %}
{% else %}
{% extends "default_base.html" %}
{% endif %}
{% block head %}
<link rel="stylesheet" href="static/CSS/alisa/guest_SA.css">

{% endblock %}
{% block title %}Shipping Address | DoctorOnTheGo{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="container">
    <ul class="progressbar">
        <li>Confirm Order</li>
        <li class="active">Shipping Address</li>
        <li>Make payment</li>
    </ul>
</div>

<div class="row">
    <div class="col">
        <div class="login-form bg-colour mt-6 p-4" id="payment_form">
            <form action="" method="POST" class="row g-3">
                <h4 class="text-black">Shipping Address!</h4>
                <p>Please input your shipping address</p>
                <div class="col-12">
                    <label for="">Name:</label>
                    <div class="input-group mb-3">
                        {{ render_field(form.name, class="form-control") }}
                    </div>
                </div>
                <div class="col-12">
                    <label for="">Email:</label>
                    <div class="input-group mb-3">
                        {{ render_field(form.email, class="form-control") }}
                    </div>
                </div>
                <div class="col-12">
                    <label for="">Shipping Address:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Blk</span>
                        {{ render_field(form.shipping_address, class="form-control", placeholder="123A Singapore
                        Street") }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Unit Number:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">#</span>
                        {{ render_field(form.unit_number1, class="form-control", placeholder="01") }}
                        <span class="input-group-text">-</span>
                        {{ render_field(form.unit_number2, class="form-control", placeholder="02") }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Postal Code</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">(S)</span>
                        {{ render_field(form.postal_code, class="form-control", placeholder="123321") }}
                    </div>
                </div>
                <div class="col-12">
                    <label for="">Phone Number</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">+65</span>
                        {{ render_field(form.phone_no, class="form-control", placeholder="12344321") }}
                    </div>
                </div>
                <div class="form-group col-md-12 pl-3 pr-3">
                    <button type="submit" class="btn btn-dark float-end">Confirm</button>
                    <a href="/cart"><button type="button" class="btn btn-dark float-end" style="margin-right:3px;">Return</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
    {% endblock %}