{% extends "default_base.html" %}
{% block head %}
<link rel="stylesheet" href="static/CSS/login_signup.css"> {% endblock %}
{% block title %}Password Reset | DoctorOnTheGo{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="background-image">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-colour mt-6 p-4" id="loginForm">
                {% if sent == False %}
                <form action="" method="POST" class="row g-3">
                    <h4 class="text-black">Password Reset!</h4>
                    <div class="col-12">
                        {{ render_field(form.email, class="form-control") }}
                        {% if correct_email == False %}<div class="text-danger"><span id="error">Email did not request
                                for a password change!</span></div>{% endif %}
                        {% if validemail == False %}<div class="text-danger"><span id="error">Email Not Found in
                                Database!</span></div>{% endif %}
                        {% if banned %}<div class="text-danger"><span id="error">Email Banned!</span></div>{% endif %}
                        <!--label>Old Password:</label>
                        <input type="password" name="password" class="form-control" placeholder="Password"-->
                    </div>
                    <div class="col-12">
                        {{ render_field(form.new_password, class="form-control") }}
                    </div>
                    <div class="col-12">
                        {{ render_field(form.confirm_password, class="form-control") }}
                        {% if matched_pw %}<div class="text-danger"><span id="error">Passwords do not match!</span>
                        </div>{% endif %}
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Reset Password</button>
                    </div>
                </form>
                {% endif %}
                {% if sent %}
                <!--hr class="mt-4"-->
                <div class="col-12">
                    <p class="text-center mb-0">Password Resetted! <a href="/login">Back To Login Page</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}