{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="static/CSS/login_signup.css"> {% endblock %}
{% block title %}Sign Up | DoctorOnTheGo{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<!-- Login Form https://www.markuptag.com/simple-login-form-design-in-bootstrap-5/ -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" id="btn" style="display:none;"></button>
    <form action="/signupC" method="POST">
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Account Made</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Your account already has been made. Rest of the form is optional. <br>
                        Next few forms include Card Information & Shipping Address
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" value="Complete SignUp" class="btn btn-danger">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Noted</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
<div class="background-image">
    <div class="row">
        <div class="col-md-4 offset-md-7">
            <div class="login-form bg-colour mt-6 p-4" id="loginForm">
                <form action="" method="POST" class="row g-3">
                    <h4 class="text-black">Create Your Account!</h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:50%"></div>
                    </div>
                    <div class="col-12">
                        {{ render_field(form.card_name, class="form-control", placeholder="Card Name") }}
                        <!--label>Card Name:</label>
                            <input type="text" name="card_name" class="form-control" placeholder="Card name"-->
                    </div>
                    <div class="col-12">
                        {{ render_field(form.card_no, class="form-control", placeholder="1234123412341234") }}
                        {% if valid_card_num == False %}<div class="text-danger"><span id="error">Invalid Card</span>
                        </div>{% endif %}
                        <!--label>Card Number:</label>
                            <input type="number" name="cardnumber" class="form-control" placeholder="Card Number"-->
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Expiry Date:</label>
                        <div class="input-group">
                            {{ render_field(form.card_expiry_year, class="form-control", placeholder="Year") }}
                            <span class="input-group-text">-</span>
                            {{ render_field(form.card_expiry_month, class="form-control", placeholder="Month") }}
                        </div>
                        {% if card_expiry_year == False %}<div class="text-danger"><span id="error">Invalid Year</span>
                        </div>{% endif %}
                        {% if valid_card_expiry == False %}<div class="text-danger"><span id="error">Expired Card</span>
                        </div>{% endif %}
                        <!--label for="inputEmail4">CVC</label>
                            <input type="number" class="form-control" id="inputCVC" placeholder="CVC"-->
                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(form.card_CVV, class="form-control", placeholder="CVV") }}
                        <!--label for="inputPassword4">Expiry Date</label>
                            <input type="date" class="form-control" id="inputDate" placeholder="Expiry Date"-->
                    </div>

                    <div class="form-group col-md-12 pl-3 pr-3">
                        <button type="submit" class="btn btn-dark float-end">Next</button>
                        <button type="submit" class="btn btn-dark float-end" style="margin-right:3px;">Skip</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Already a Member? <a href="/login">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
   window.onload = function(){
   document.getElementById('btn').click();
   };
</script>
<!-- Popper 2.10.2, Bootstrap 5.1.2 JavaScript -->
<script crossorigin="anonymous" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u"
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>
{% endblock %}